<div id="form" ng-controller="adminController as sesionCtrl">
	<div id="bloqueSesion" style="display:none;"> 
      	<h4>Ingrese sus datos</h4>
        <form name="sesionForm" 
        		ng-submit="sesionForm.$valid && sesionCtrl.SignIn($event)" novalidate>

        	<fieldset class="form-group">
              	<input ng-model="email" type="email" class="form-control" placeholder="Direccion Email" required/>
            </fieldset>

          	<fieldset class="form-group">
            	<input ng-model="password" type="password" class="form-control" placeholder="Contraseña" required/>
          	</fieldset>

          	<fieldset class="form-group">
	            <input type="submit" class="btn btn-primary pull-right" value="Iniciar Sesion"/>
          	</fieldset>
          
      	</form>
  	</div>
    <!-- Activa Pestañas -->
     <div id="bloqueListar" style="display:none;">
        <div opciones></div>
    </div>

</div> 
